<%= "Index dashboard" %><br/><br/>
<%= link_to "sign_out", destroy_user_session_path, method: :delete %></br></br>
<%= link_to "Actual Tweets", actual_tweets_dashboard_index_path, method: :get %></br></br>

<table border=2>
	<tr>
		<td>Tweet Content</td>
	</tr>
	<% @tweets.each do |tweet| %>
	<tr>
		<td><%= tweet.content %></td>
	</tr>
	<% end %>
</table>
